<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
</head>

<body>

  <header>
    <h1><a>Visualizations of data structures and algorithms</a></h1>
  </header>

  <main>

    <h3>Try the different visualizations</h3>
    <p>Note that there is currently only a couple of visualizations:</p>
    <ul>
      <li><strong><a href="collections.html">Collections</a></strong> (BSTs, AVL tree, Red-black trees, Splay trees, and
        B-trees)</li>
      <li><strong><a href="prioqueues.html">Priority queues</a></strong> (currently only Binary heaps are supported)
      </li>
      <li><strong><a href="sorting.html">Sorting</a></strong></li>
      <li><strong><a href="avl-quiz.html">Avl-quiz</a></strong></li>
      <li><strong><a href="graph.html">Graph</a></strong></li>
    </ul>

    <h3>History</h3>

    <p>A useful aid to understand complex data structures and algorithms is to see them in action. Back in 2011 <a
        href="http://www.cs.usfca.edu/galles">David Galles</a> from University of San Francisco developed <a
        href="https://www.cs.usfca.edu/~galles/visualization/">interactive animations</a> for a variety of data
      structures and algorithms. (Or rather, he ported his even older implementations to Javascript in 2011). Updated
      versions of his implementations are <a
        href="https://chalmersgu-data-structure-courses.github.io/visualization/">available here</a>.
    </p>

    <p>However, the original implemetation uses the HTML Canvas bitmap to draw the animations, which is slow and a bit
      ugly. Since 2011 both HTML and Javascript has developed quite a lot, so I thought it was time for a full makeover
      with a completely new codebase. So here it is: the new implementation uses SVG vector graphics and built-in SVG
      animations. It also makes use of Javascript's asynchronous processes for pausing the animations, which makes it a
      lot easier to implment nice animations for data structures and algorithms.
    </p>

    <h3>Source code</h3>

    <p>All source code is available at the
      <a href="https://github.com/ChalmersGU-data-structure-courses/dsvis">GitHub repository</a>.
      Everything is <a href="https://github.com/ChalmersGU-data-structure-courses/dsvis/blob/master/LICENSE">licensed
        under GPL-3</a>,
      which means that you are free to use it and modify the code (as long as you publish the changes under the same
      license).
    </p>

    <p>I use the nice <a href="https://svgjs.dev/">SVG.js</a> library for working with SVG in Javascript. Thanks to the
      authors for maintaining it!
    </p>

  </main>

  <footer>
    <p>&copy;2024 <a href="https://github.com/heatherleaf">Peter Ljunglöf</a></p>
  </footer>

</body>

</html>