<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
</head>

<header>
  <h1><a href="index.html">Visualizations of data structures and algorithms</a></h1>
</header>

<main>
  <section id="sortingContainer">

    <label for="algorithmSelector">Choose a sorting algorithm:</label>
    <h2 class="selectorWrapper">
      <select name="algorithmSelector" class="algorithmSelector">
        <option disabled value="">&mdash; Please choose an algorithm &mdash;</option>
        <hr />
        <option value="SelectionSort">Selection sort</option>
        <option value="MergeSort">Merge sort</option>
        <option value="InsertionSort">Insertion sort</option>
        <option value="QuickSort">Quick sort</option>
        <option value="BubbleSort">Bubble sort</option>
        <option value="HeapSort">Heap sort</option>
      </select>
    </h2>

    <fieldset class="algorithmControls">
      <span class="formgroup">
        <label for="presetSizeSelect">Preset array sizes:</label>
        <select id="presetSizeSelect" class="presetSizeSelect disableWhenRunning">
          <option selected disabled>-- Select size --</option>
          <option value="tiny">Tiny (10)</option>
          <option value="small">Small (20)</option>
          <option value="medium">Medium (50)</option>
          <option value="large">Large (100)</option>
          <option value="huge">Huge (200)</option>
          <option value="empty">Empty</option>
        </select>
      </span>
      <span class="formgroup">
        <label for="insertField">Insert values:</label>
        <input id="insertField" class="insertField disableWhenRunning" type="text" size="10" maxlength="20" />
        <input id="insertSubmit" class="insertSubmit disableWhenRunning" type="submit" value="Insert" />
      </span>
      <span class="formgroup">
        <input id="sortSubmit" class="sortSubmit disableWhenRunning" type="submit" value="Sort" />
      </span>
      <span class="formgroup">
        <input id="clearSubmit" class="clearSubmit disableWhenRunning" type="submit" value="Clear" />
      </span>
      <!-- döp om till bättre namn -->
      <span class="formgroup">
        <select id="unsortSelect" class="unsort disableWhenRunning">
          <option value="" selected>Unsort Array</option>
          <option value="unsortRandom">Random</option>
          <option value="unsortReversed">Reversed</option>
        </select>
      </span>
    </fieldset>

    <div class="pseudoCode"></div>
    <div>
      <svg></svg>
    </div>

    <fieldset class="generalControls">
      <span class="formgroup">
        <button class="fastBackward">&lt;&lt;</button>
        <button class="stepBackward">&lt;</button>
        <button class="toggleRunner">Run</button>
        <button class="stepForward">&gt;</button>
        <button class="fastForward">&gt;&gt;</button>
      </span>
      <span class="formgroup">
        <label>Speed:
          <select class="animationSpeed">
            <option value="1200">Slowest</option>
            <option value="700" selected>Slow</option>
            <option value="300">Fast</option>
            <option value="1">Fastest</option>
          </select>
        </label>
      </span>
      <span class="formgroup">
        <label>Staple size:
          <select class="objectSize"> <!-- TODO: Rename to match purpose -->
            <option value="tiny">Tiny</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large" selected>Large</option>
            <option value="huge">Huge</option>
          </select>
        </label>
      </span>
      <span class="formgroup">
        <button type="button" id="resetPanningButton">Reset panning</button>
      </span>
    </fieldset>

  </section>
</main>

<footer>
  <p>&copy;2024 <a href="https://github.com/heatherleaf">Peter Ljunglöf</a>,
    open source code <a href="https://github.com/ChalmersGU-data-structure-courses/dsvis">on GitHub</a></p>
</footer>

</body>

</html>